/*Body */
body{
	
}


/*Header*/
#header-global{
	
	border: 10px groove #98BF21;
	margin:auto;
	width:80%;
} 

#header-global a:link ,#header-global a:visited,#header-global a:hover,#header-global a:active{
	background-color: transparent;
	margin:auto;
}

#header-global img{
	width: 80%;
	height: 100%;
	
	background-color: white;
	margin-left:10%;
	margin-right:10%;
}

#header-navbar{
	width:81%;
	margin:auto;
}

#header-navbar ul{
	list-style-type: none;
	margin: 0;	
	padding: 0;
	overflow: hidden;
	width: 100%;
	
}
#header-navbar li{
		
	float: left;
}
#header-navbar a:link,#header-navbar a:visited{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

#header-navbar a:hover,#header-navbar a:active{
	background-color:#7A991A;
}


/*Content*/
#content{
	background-color : #E5EECC;
	padding: 1em;	
	margin:auto;
	width: 78%;
	
}

#headlines{
	list-style-type: none;
	padding: 0
}

.list-option, .pres-class{
	background-color:white;
	padding:1em;
	
	margin: auto;
	width: 95%;
	
	margin-bottom:1em;
	
	border-width:.1em;
	border-style:solid;
	border-color: black; 
}

/* Table*/
 	 
 .pres-class table{
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 320px;
	}

 .pres-class th {
	padding: 0 0.5em;
	text-align: left;
	}

 .pres-class tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
	}

 .pres-class td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
	}

 .pres-class td:first-child {
	width: 190px;
	}

 .pres-class td+td {
	border-left: 1px solid #CCC;
	text-align: center;
	
	
	}

/*List*/

.list-title{
	font:sans-serif;
	color: #EDC951;
	text-decoration: none;
	font-size:1.4em;
}
.list-date{
		
	color:#EB6841
}

/*Article*/

#article{
	background-color:white;
	padding: 1em;
	text-align: justify;	
}

#article h1,#article .pubDate{
	font:sans-serif;
	color:#EB6841
}

/*form*/
.form-input{
	list-style-type:none; 

}
.form-input li{
	margin:1em;
	
}

.form-input label{
	display:block;
}

#content .form-input textarea{
	background-color:white;
}

/*Footer*/
#footer p{
	width:98%;
	
	margin:auto;
	margin-top:1em;
	text-align : center;
	background-color : #E5EECC;
}
